@mixin base-camouflage-background {
	background: $base-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin gilded-camouflage-background {
	background: $gilded-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin forged-camouflage-background {
	background: $forged-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin priceless-camouflage-background {
	background: $priceless-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin interstellar-camouflage-background {
	background: $interstellar-gradient;
	background-position: center center;
	background-size: cover;
}
