@mixin base-camouflage-background {
	background: $base-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin gilded-camouflage-background {
	background: $gilded-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin forged-camouflage-background {
	background: $forged-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin priceless-camouflage-background {
	background: $priceless-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin interstellar-camouflage-background {
	background: $interstellar-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin golden-enigma-camouflage-background {
	background: $golden-enigma-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin zircon-scale-camouflage-background {
	background: $zircon-scale-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin serpentinite-camouflage-background {
	background: $serpentinite-gradient;
	background-position: center center;
	background-size: cover;
}

@mixin borealis-camouflage-background {
	background: $borealis-gradient;
	background-position: center center;
	background-size: cover;
}
